<h3 class="section_title">Edit Profile</h3>

<div class="container">
  <% if @profile.role == "Rower" %>
    <%= render partial: "rower_form" %>
  <% elsif @profile.role == "Coach" %>
    <%= render partial: "coach_form" %>
  <% end %>
</div>

<%= link_to 'Change Email/Password or Delete Account', edit_user_registration_path, class: 'button' %>
