<h3 class="section_title">Register as a Rower or...</h3>
<div class="container">
  <%= render partial: "rower_form" %>
</div>
<h3 class="section_title">...as a Coach</h3>
<div>
  <%= render partial: "coach_form" %>
</div>
