<div class="container">
  <h3 class="section_title">Edit Score</h3>
  <%= render partial: "form" %>
</div>
<div>
    <%= simple_form_for @score, method: :delete do |f| %>
      <%= f.submit "Delete Score", class: "button", style: "background-color: #c00" %>
    <% end %>
</div>
