.spec {
  display: block;
}

.spec_summary {
  font-style: italic;
  text-align: center;
  margin: 0 auto;
}

.workout_specs, .score_summary {
  /*border: 1px solid #ccc;*/

}

.workout_specs {
  flex-grow: 1;
}
.workout_specs h4 {
  margin: 0
}
